<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adjusting Width and Height</title>
    <link rel="stylesheet" href="/src/layouts/layouts.css" />
  </head>
  <body>
    <div class="container">
      <div class="sub-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
        omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad hic
        blanditiis fugit magnam quisquam repellat quia delectus excepturi,
        veritatis officiis debitis dolores sequi neque minima! Veritatis iure
        est, explicabo nemo nihil iusto neque voluptatem enim eligendi
        accusantium dolore, tempora debitis earum libero inventore, similique
        minima quia quibusdam quis. Corrupti ipsam soluta ipsa voluptate maiores
        assumenda dolorem vitae necessitatibus consequuntur, omnis laudantium
        quo earum cum voluptatibus quas optio, similique, laborum porro magni?
        Quibusdam cum et, quia possimus molestias ab eveniet neque qui excepturi
        magni similique, facere delectus accusamus veniam, enim amet odit soluta
        accusantium inventore eos officiis aliquam? Cumque, suscipit non.
      </div>
      <div class="sub-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
        laborum! ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Mollitia, minus! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Nobis, eum. Quia inventore harum eveniet nihil libero consequatur,
        sed est! Laborum id officia magnam quae, natus debitis pariatur illo
        sapiente hic ipsum expedita maxime dolor optio, voluptate, enim
        voluptates excepturi numquam impedit esse dignissimos corporis! Ipsam
        illum voluptate non laboriosam dignissimos quo, iusto molestiae, ex
        rerum debitis magnam ratione, quae vel nisi atque a doloremque ea esse
        reiciendis itaque incidunt nostrum. Nostrum culpa necessitatibus harum,
        maiores quo sunt voluptate, deserunt ullam voluptatum assumenda sed
        minima cumque corrupti consequatur sequi magnam eos! Voluptas ratione
        commodi labore similique? Ullam exercitationem iure omnis natus.
      </div>
    </div>
  </body>
</html>
